# C:\Users\Admin\Documents\GitHub\python_workspace1N폴더에 .gitignore파일(.txt없음)
# Python bytecode
__pycache__/
*.py[cod]

# 가상환경
env/
venv/
.venv/
ENV/
.history/
# IDE
.vscode/
.idea/

# 테스트 및 타입 검사 캐시
.pytest_cache/
.mypy_cache/

# Build / distribution
build/
dist/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# pip logs
pip-log.txt
pip-delete-this-directory.txt

# VS Code 자동저장 히스토리
**/.history/
